/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
      ,[counter]
      ,[TicketID]
      ,[TransType]
      ,[emp]
      ,[called]
  FROM [DGCD_QSYSTEM].[dbo].[tbl_Queue]
  where id = '8537';

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
      ,[counter]
      ,[TicketID]
      ,[TransType]
      ,[emp]
      ,[called]
  FROM [DGCD_QSYSTEM].[dbo].[tbl_Queue]
  where id = '8538';